.contacts {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    border: 1px solid #27cc18;
  }
  
  input[type='text'] {
    padding: 5px;
    width: 100%;
  }
  
  .add-contact {
    margin-top: 20px;
  }
  