.contacts {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    border: 1px solid #f7f7f7;
  }
  
  input[type='text'] {
    padding: 5px;
    background-color: #000000;

    width: 100%;
  }
  
  .add-contact {
    margin-top: 20px;
  }
  